//AJS library, from http://orangoo.com/labs/AJS/

//re-writes:
//- ajaxErrorHandler stars off not as null, but as func that does nothing
//- null --> undefined, generally

var AJS = {
    BASE_URL: "",
    ajaxErrorHandler: function (txt, req) :: (String, String ->
                                              U(String, Undefined)) {
      },

    /*getQueryArgument: function(var_name) :: (String -> U(String, Undefined)) {
        var query = window.location.search.substring(1, undefined);
        var vars = query.split("&", undefined);
        for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=", undefined);
            if (pair[0] == var_name) {
                return pair[1];
            }
        }
        return undefined;
    },*/
  


};